#column1_wrapper	{width:100%; 		border:0px;}
#left1col			{width:0px;			float:left;  padding:0px 0px 0px 0px;}
#left1pad			{width:0px;			float:left;}
#right1col			{width:0px;			float:right;}
#right1pad			{width:0px;			float:right;}
#center1col			{margin-left:0px; 	margin-right:0px; padding:0px 0px 0px 0px;}

#infoleft			{width:320px;		float:left;  	margin:0px 0px 0px 0px; 	padding:0px 0px 0px 0px;	vertical-align:top; }
#inforight			{width:320px;		float:right;	margin:0px 0px 0px 0px; 	padding:0px 0px 0px 0px;	vertical-align:top; }
#infocenter			{									margin:0px 320px 0px 320px; padding:0px 0px 0px 0px;	vertical-align:top; }
